*{
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
#main{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    justify-items: center;
}
.rocket, .launch, .satelite{
    padding: 10px;
    background-color: rgb(207, 207, 207, 0.9);
}
#rocket{
    max-width: 300px;
}
#header > p {
    font-size: 35px;
}
#header{
    padding: 20px;
}
#select, #button{
    padding: 10px;
    margin-top: 10px;
}